<a href="https://colab.research.google.com/github/Ay-Raj/Leetcode/blob/main/Matrix_Factorization_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 5.8 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633724 sha256=806d9c925dae1e9238f1c25b6675c291b6f2effd32f857a33d4e967c47c55cdf
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [ ]:
import pandas as pd
from heapq import nlargest
import random
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise import SVD
from surprise import SVDpp
from surprise import KNNBasic
from surprise.model_selection import cross_validate
import pandas as pd
import gensim
import numpy as np
import nltk
from nltk.corpus import stopwords
from textblob import Word, TextBlob

In [ ]:
data = pd.read_csv('temp7.csv')

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.head()

   user_id meal_ingredients   size
0     1821           coffee  411.0
1     1821           cheese  374.0
2     1821            beans  349.0
3     1821             rice  333.0
4     1821          chicken  320.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5947 entries, 0 to 5947
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           5947 non-null   int64
 1   meal_ingredients  5947 non-null   object
 2   size              5947 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 185.8+ KB

In [ ]:
data.drop(data[data['size'] > 141].index, inplace = True)

In [ ]:
from surprise import Dataset
from surprise import Reader
reader = Reader(rating_scale=(1, 141))
data1 = Dataset.load_from_df(data[['user_id', 'meal_ingredients', 'size']], reader)

In [ ]:
from surprise import SVD
from surprise.model_selection import cross_validate
svd = SVD(verbose=True, n_epochs=18)
cross_validate(svd, data1, measures=['RMSE', 'MAE'], cv=3, verbose=True)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    9.8521  11.0709 11.0683 10.6638 0.5739
MAE (testset)     5.3462  5.3401  5.1942  5.2935  0.0703
Fit time          0.22    0.24    0.24    0.23    0.01
Test time         0.02    0.02    0.01    0.02    0.00

{'fit_time': (0.22437357902526855, 0.2389979362487793, 0.2400519847869873),
 'test_mae': array([5.34616657, 5.34013481, 5.19418289]),
 'test_rmse': array([ 9.85212991, 11.07087282, 11.0683422 ]),
 'test_time': (0.022291183471679688,
  0.015048980712890625,
  0.014024496078491211)}

In [ ]:
trainset = data1.build_full_trainset()
svd.fit(trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17

In [ ]:
df1 = pd.read_excel('Meals_w_Goals_deid_snapshot.xlsx')

In [ ]:
df1.head()

,goal_id,goal_short_name,expert_assessment,user_id,preferred_locale,meal_id,meal_type,meal_title,meal_ingredients,expert_explanation,carbs_grams,protein_grams,fat_grams,fiber_grams,calories,carbs_RD_explanation,protein_RD_explanation,fat_RD_explanation,fiber_RD_explanation,calories_RD_explanation
0,23,choose_plant_proteins,not_really,1660,en,9282,afternoon_snack,Pretzel,Pretzel,NaN,71.0,8.0,3.0,3.0,342.0,NaN,NaN,NaN,NaN,NaN
1,43,choose_plant_proteins,not_really,2068,en,3391,dinner,Salad with turkey burger,Turkey burger salad,This goal is not met because there are no plan...,6.0,23.0,14.0,3.0,251.0,na,na,na,na,na
2,43,choose_plant_proteins,not_really,2068,en,3405,lunch,Quinoa and vegetables,Quinoa and vegetables,This goal is not met because there are no plan...,44.0,8.0,12.0,6.0,306.0,NaN,na,na,na,na
3,43,choose_plant_proteins,not_really,2068,en,3415,dinner,Chicken with mixed vegetables,Chicken and salad,This goal is not met because there is no plant...,9.0,24.0,7.0,3.0,142.0,na,na,na,na,na
4,43,choose_plant_proteins,not_really,2068,en,3424,lunch,"Salad ,sweet potatoes and avocado",Salad and sweet potatoes,This goal is not met because there are no plan...,51.0,4.0,11.0,13.0,300.0,na,na,na,na,na

In [ ]:
df1.drop(df1[df1.expert_assessment == 'not_really'].index, inplace=True)

In [ ]:
df1.drop(df1[df1.preferred_locale == 'es'].index, inplace=True)

In [ ]:
df1['meal_title'].drop_duplicates(inplace = True)

In [ ]:
df1['meal_ingredients'].dropna(inplace=True)

In [ ]:
df1.shape

(3531, 20)

In [ ]:
df1 = df1.drop(columns=['goal_id', 'user_id', 'meal_type', 'calories', 'expert_assessment', 'meal_id', 'carbs_grams', 'protein_grams','fat_grams', 'fiber_grams', 'carbs_RD_explanation', 'protein_RD_explanation', 'fat_RD_explanation', 'fiber_RD_explanation', 'calories_RD_explanation', 'preferred_locale', 'expert_explanation'])
df1.head()

,goal_short_name,meal_title,meal_ingredients
9,choose_plant_proteins,Lentil soup,Lentil soup
32,choose_plant_proteins,Italian bread with cream cheese and black coffee,Splenda for my coffee
33,choose_plant_proteins,"Spam,less sodium 25 percent","Chick peas , tomatoes, lettuce, avocado"
34,choose_plant_proteins,"Rice,with beans ,avocado,chicken, and salad","Salad,chicken,avocado and lemonade"
87,choose_plant_proteins,Yellow rice with Gandules and BBQ ribs. Glass ...,Yellow rice with Gandules and BBQ ribs. 16 oz ...

In [ ]:
nltk.download('stopwords')
nltk.download('wordnet')
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
def preprocess_meals(meal):
    processed_meal = meal
    processed_meal.replace('[^\w\s]', '')
    processed_meal = " ".join(word for word in processed_meal.split() if word not in stop_words)
    processed_meal = " ".join(Word(word).lemmatize() for word in processed_meal.split())
    return(processed_meal)

In [ ]:
df1['meal_ingredients'] = df1['meal_ingredients'].apply(lambda x: preprocess_meals(str(x)))

In [ ]:
df1['meal_ingredients']

9                                              Lentil soup
32                                          Splenda coffee
33                  Chick pea , tomatoes, lettuce, avocado
34                          Salad,chicken,avocado lemonade
87          Yellow rice Gandules BBQ ribs. 16 oz glass V8.
                               ...
18313    Chicken patty, wholewheat wrap ,mozzarella cheese
18316    Bowl oatmeal, 2 x hard-boiled egg 16 oz bottle...
18319                                              Oatmeal
18335    Whiting fish sandwich 1 x tablespoon tartar ho...
18340    Bowl Minestrone soup, 2 x slice whole wheat br...
Name: meal_ingredients, Length: 3531, dtype: object

In [ ]:
df1.meal_ingredients = df1.meal_ingredients.apply(gensim.utils.simple_preprocess)

In [ ]:
df1['meal_ingredients']

9                                           [lentil, soup]
32                                       [splenda, coffee]
33                [chick, pea, tomatoes, lettuce, avocado]
34                     [salad, chicken, avocado, lemonade]
87          [yellow, rice, gandules, bbq, ribs, oz, glass]
                               ...
18313    [chicken, patty, wholewheat, wrap, mozzarella,...
18316    [bowl, oatmeal, hard, boiled, egg, oz, bottle,...
18319                                            [oatmeal]
18335    [whiting, fish, sandwich, tablespoon, tartar, ...
18340    [bowl, minestrone, soup, slice, whole, wheat, ...
Name: meal_ingredients, Length: 3531, dtype: object

In [ ]:
df1.head()

,goal_short_name,meal_title,meal_ingredients
9,choose_plant_proteins,Lentil soup,"[lentil, soup]"
32,choose_plant_proteins,Italian bread with cream cheese and black coffee,"[splenda, coffee]"
33,choose_plant_proteins,"Spam,less sodium 25 percent","[chick, pea, tomatoes, lettuce, avocado]"
34,choose_plant_proteins,"Rice,with beans ,avocado,chicken, and salad","[salad, chicken, avocado, lemonade]"
87,choose_plant_proteins,Yellow rice with Gandules and BBQ ribs. Glass ...,"[yellow, rice, gandules, bbq, ribs, oz, glass]"

In [ ]:
dict4 = {}

for goal_short_name, meal_title, meal_ingredients in df1.itertuples(index=False):
  if goal_short_name not in dict4:
    dict4[goal_short_name] = {meal_title:meal_ingredients}

  else:
    dict4[goal_short_name][meal_title] = meal_ingredients

In [ ]:
def predictionfunction(userid, goal):
  dict1 = {}
  for j in data['meal_ingredients']:
    dict1[j] = svd.predict(uid = userid, iid = j).est
    # Keymax = max(zip(dict1.values(), dict1.keys()))[2]
    res = nlargest(10, dict1, key = dict1.get)


  dict2 = {}
  for key in dict4[goal]:
    score = len(set(res) & set(dict4[goal][key])) / float(len(set(res) | set(dict4[goal][key]))) * 100
    dict2[key] = score

  # max_value = max(dict2, key=dict2.get)
  rec_meals = nlargest(5, dict2, key = dict2.get)


  return rec_meals

In [ ]:
print(predictionfunction(1821, 'choose_plant_proteins'))

['Yellow rice with red beans, steak with onions. Mixed salad and bottle of water.', 'Stir fry burrito', 'Cobb salad', 'Rice,with beans ,avocado,chicken, and salad', 'Spam,less sodium 25 percent']

In [ ]:
print(predictionfunction(2068, 'choose_plant_proteins'))

['Yellow rice with red beans, steak with onions. Mixed salad and bottle of water.', 'Morning Snack', 'Rice,with beans ,avocado,chicken, and salad', 'Kidney beans, left over 1/2 of breakfast.', 'Sandwich']

In [ ]:
print(predictionfunction(2312, 'choose_whole_grain_carbs'))

['Bread cheese eggs milk', 'Eggs', 'Soup', 'Whole wheat bread with egg and ginger ale', 'Cheese bread milk apple']